*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../Img/MANUEL.jpg);
    
}
ul{
    color:rgb(24, 24, 23);
   
}
ul a{
    color:blueviolet;
    margin-top: 10px;
    display: inline-block; 
    margin-left: 10px;
   
}

li{
    display: inline-block;
    color: darkblue;
    border-radius: 20px;
    width: 30px;
    padding: 20px;
    box-shadow: white;
    margin: top 10px;
    margin-left: 10px;
}

.text{
    text-align: center;
    color: white;

}

.ma img{
        border-radius: 10px;
        box-shadow: 0px 0px 2px 2px darkorange;
        height: 100px;
        width: 150px;
        margin-top: 5px;
        margin-left: 5%;
        
}
.texto{
    text-align: center;
    color: white;
}
.texto p{
    color: blueviolet;
}

footer{
    background-color: rgb(61, 22, 22);
    box-shadow: 2px 2px 2px 6px black;
    text-align: center;
    padding: 15px;
    height: 60px;
}

.ro{
    display: flex;
}
.lin{
    margin: 0 auto;
}
.lin img{
    width: 40px;
    height: 40px;
}